@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text);
@import url(https://fonts.googleapis.com/css?family=Anton);

.column {
  float:left;
  width:50%;
}

#columnwrapper {
  width:1240px;
  margin: auto;
}

h1 {
  font-family: Anton;
  font-size:100px;
  text-align: center;
  color:#FFF2AB;
  margin-top:0px;
  background-color:;
  padding:10px;
  margin:20px;
}

h3 {
  font-family:Oswald;
  font-size:20px;
  color:#D7F5A4;
}

h2 {
  font-family:Oswald;
  font-weight:300;
  font-size: 35px;
  text-align:center;
  color:#0F0034;
  margin-top:0px;
  background-color:;
  padding:10px;
  margin:20px;
}

h4 {
  font-family:Oswald;
  font-size:16px;
  color:#0F0034;
}

body {
  font-family:Crimson Text;
  background-color:#614B9A;
  color:#DED1FF;
}
