@import url(https://fonts.googleapis.com/css?family=Oswald);

.column {
  float:left;
  width:50%;
}

#columnwrapper {
  width:1240px;
  margin: auto;
}

h1 {
  font-family: Oswald;
  font-size:100px;
  text-align: center;
  color:blueviolet;
  margin-top:0px;
  background-color:#C2DFFF;
  padding:10px;
  margin:20px;
}

h3 {
  font-family:Oswald;
  font-size:16px;
  color:#0000A0;
}

h2 {
  font-family:Oswald;
  text-align:center;
  color:#0000A0;
  margin-top:0px;
  background-color:#C2DFFF;
  padding:10px;
  margin:20px;
}

h4 {
  font-family:Oswald;
  color:#0000A0;
}

body {
  background-color:#BCC6CC;
}
